<html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <h2 class="hedt1">{{title}} page content 500</h2>
    <div class="header1">
        <a href="/">Home</a>
        <a href="/service">Service</a>
        <a href="/team">Team</a>
    </div>

</body>

</html>