<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
</html>

<body>
    <h2>{{>header}}</h2>
    <h2>{{title}}</h2>
    <h2>{{desc}}</h2>
    <img src={{img1}}  alt="">

    <h2>{{>footer}}</h2>

</body>